@import url(./utils/Fontes.css);

/* Aqui vamos manter classes globais e de componentes globais, com o crescimento da aplicação podemos separar algumas junto dos seus componentes */
:root {
    --primario: #ED254E;
    --relevo: #D82247;
    --background-dark: #080808;
    --background-light: #fff;
    --aviso: #e20707;
    --text-dark-1: #fff;
    --text-dark-2: #e8e8e8;
    --text-dark-3: #cacacc;
    --text-dark-4: #c5c5c5;
}

* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
}

/* Componente de input */
.icon_input-secret {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 95%;
    bottom: 9px;
}

.icon_input {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
    /* filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5)); */
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    font-family: inherit;
    font-size: 0.75rem;
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #F3EED9;
}

.input_field-error {
    border: 1px solid var(--relevo);
    box-shadow: 0px 0px 0px 2px var(--relevo);
}

/* Componente Botão */
.sign-in_btn {
    width: 100%;
    height: 40px;
    border: 0;
    background: var(--primario);
    border-radius: 5px;
    border: 1px solid var(--relevo);
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-family: inherit;
}

.sign-in_btn:hover {
    background: var(--relevo);
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px var(--primario);
}

/* .sign-in_ggl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    color: #2C262E;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
    font-family: inherit;
    font-size: 0.75rem;
}

.sign-in_ggl:hover {
    background: #2C262E;
    border: 1px solid #1d1d1d;
    color: #e5e5e5;
} 
.icon_btn-google {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 2px;
}

.icon_btn-google:hover {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 2px;
} */