.container_log {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 40% 60%;
}

.container_log-esq {
    padding: 0;
    margin: 0;
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
/*     background-image: url('./../../assets/images/bg_login_onda.svg'); */
    background-size: cover;
}

.container_log-dir {
    padding: 0;
    margin: 0;
    background-color: var(--primario);
    border-left: 1px solid rgba(119, 53, 53, 0.068);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-image: url('./../../assets/svg/compra_shopping.svg');
    background-size: fit-content;
    background-repeat: no-repeat;
    background-size: 35%; */
    /* box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1); */
    flex: 0 0 auto;
    height: 100vh;
}

.txt_reg-volt {
    font-size: 0.75rem;
    color: var(--text-dark-4);
    text-decoration: none;
    text-transform: uppercase;
}

.container_log-central {
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px 20px 40px;
/*     background-color: #ffffff00;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
        0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
        0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px; */
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container_aut-central {
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: c;
    align-items: center;
    justify-content: center;
    /* padding: 50px 40px 20px 40px; */
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container_aut-central button {
    margin: 10px;
}

.container_log-form {
    margin: 0;
    width: 75%;
    height: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_logo {
    box-sizing: border-box;
    width: 300px;
    height: fit-content;
}

.container_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.titulo_log {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-dark-1);
}

.subtitulo {
    font-size: 0.725rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: var(--text-dark-3)
}

.input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.separator {
    margin-top: -14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--text-dark-1);
}

.separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: var(--text-dark-2);
}

.esqueci_senha {
    margin-top: -7px;
    padding: 0px;
    font-size: 0.75rem;
    color: var(--text-dark-4);
    text-decoration: none;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


@media (max-width: 1368px) {
    .container_log {
        grid-template-columns: 40% 60%;
    }
}

@media (max-width: 900px) {
    .container_log-central{
        width: 100%;
        height: 100%;
    }

    .container_log {
        grid-template-columns: 60% 40%;
    }
}

@media (max-width: 600px) {
    .container_log-central{
        width: 100%;
        height: 100%;
    }

    .container_log {
        grid-template-columns:100% 0%;
    }
}